.btn{
    border: none;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 400px;
    height: 38px;
    font-size: 16px;
    cursor: pointer;
}
.btn:focus{outline: none;}
.btn-small{
    width: 50px;
    color: #fff;
    border-radius: 5px
}

@media screen and (max-width: 776px){
    .btn{
        width: 200px;
    }

}